#form_copier_nav {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    height: 26px;
}
#form_copier_nav div {
    width: 33%;
    float: left;
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #666666;
    color: white;
}
#form_copier_nav div a:link, #form_copier_nav div a:visited{
    display: block;
    color: white;
}
#form_copier_nav div.unselected {
    background-color: #ffffff;
    color: #666666;
}
.form_backup_table td {
    padding: 3px;
    border-bottom: 1px solid #efefef;
}